In [1]:
import re

## 1. Extract numbers from string

In [2]:
test_phrase = 'This is a string with some numbers 1233 2354 2222'

re.findall(r'\d+',test_phrase)

['1233', '2354', '2222']

In [3]:
document = 'My phone number is  8888888888 and 7777777777'

## 2. Extract phone number from the document

In [4]:
doc = ''' This is a sample document with multiple phone numbers. The first one is 7777777777 .. 
Then 8888888888 and 9999999999. But 111111 is not a phone number'''

In [5]:
for i in re.findall(r'\d{10}', doc):
    print (i)

7777777777
8888888888
9999999999

In [6]:
# Please note that the last number is not considered as phone number. 
# Since it is not having ten numbers.

## 3. Extract phone numbers with specific patterns

In [7]:
doc = ''' This is a sample document with multiple phone numbers. 
+91 94 2723 7900 
+91 9427237900
+91-9427237900 
+60 (0)3 2723 7900
+60 (0)3 2723 7900
+ 60 (0)4 255 9000
+6 (03) 8924 8686
+6 (03) 8924 8000
+ 60 (7) 268-6200
+60 (7) 228-6202
+601-4228-8055
We have to extract all'''

In [8]:
re.findall(r'\+[-()\s\d]+?(?=\s*[+<])',doc)

['+91 94 2723 7900',
 '+91 9427237900',
 '+91-9427237900',
 '+60 (0)3 2723 7900',
 '+60 (0)3 2723 7900',
 '+ 60 (0)4 255 9000',
 '+6 (03) 8924 8686',
 '+6 (03) 8924 8000',
 '+ 60 (7) 268-6200',
 '+60 (7) 228-6202']